<%= form_with(model: @micropost, local: true) do |f| %>
	<%= render 'shared/emfm' %>
    <div class="field">
      <%= f.text_area :content, placeholder: "What's on your mind?" %>
    </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
